---
layout: default
pagination:
  enabled: true
---

<main class="post-list">
    <div>
        <p style="text-align: center;">Hello, I'm Mark Fischer. I am a Digital Experience Architect at ArcBest.</p>
        <p style="text-align: center;">
            <a href="https://github.com/flyingfisch">GitHub</a> ∙
            <a href="http://codepen.io/flyingfisch/">Codepen</a> ∙
            <a href="https://unsplash.com/@flyingfisch">Unsplash</a> ∙
            <a href="https://www.linkedin.com/in/flyingfisch">LinkedIn</a>
        </p>
    </div>

    {% for post in paginator.posts %}
    <article class="post">
        <div class="post-info">
            {% if post.author %}<strong>Author:</strong> {{ post.author }}<br>{% endif %}

            <strong>Posted:</strong> {{ post.date | date: "%b %-d, %Y" }}<br>

            {% unless post.categories == empty %}
            <strong>Categories:</strong> {{ post.categories | join: ', ' }}<br>
            {% endunless %}
        </div>

        <section>
            <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

            <p>
                {{ post.content
                    | strip
                    | replace: '</h1>', '&#182;'
                    | replace: '</h2>', '&#182;'
                    | replace: '</p>','&#182;'
                    | strip_html
                    | truncatewords: 50
                    | replace: '&#182;', '<span class="light"> &#182;</span>'
                }}
            </p>
        </section>
    </article>
    {% endfor %}

    <div class="pagination-links">
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older Posts</a>
        {% else %}
        <span class="disabled-link">Older Posts</span>
        {% endif %}
        ∙
        <a href="categories.html">Categories</a>
        ∙
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer Posts</a>
        {% else %}
        <span class="disabled-link">Newer Posts</span>
        {% endif %}
    </div>
</main>
