---
layout: default
---

<article class="post">
    <h1>Category: {{ page.category }}</h1>

    {% for post in site.categories[page.category] %}
    <div class="post-info">
        {% if post.author %}<strong>Author:</strong> {{ post.author }}<br>{% endif %}

        <strong>Posted:</strong> {{ post.date | date: "%b %-d, %Y" }}<br>

        {% unless post.categories == empty %}
        {% comment %}<strong>Tags:</strong> {{ post.categories | category_links }}<br>{% endcomment %}
        <strong>Tags:</strong> {{ post.categories | join: ', ' }}<br>
        {% endunless %}

        {% if post.meta %}<strong>Meta:</strong> {{ post.meta }}{% endif %}
    </div>

    <section>
        <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

        <p>
            {{ post.content | markdownify | replace: '</h1>', '&#182;' | replace: '</h2>', '&#182;' | replace: '</p>', '&#182;' | strip_html | truncatewords: 50 | replace: '&#182;', '<span class="light"> &#182;</span>' }}
        </p>

    </section>
    {% endfor %}
</article>
